body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  outline: none;
  border: none;
  width: 110px;
}
.archived {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.summary {
  display: flex;
  justify-content: flex-end;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hidden {
  display: none;
}
.create_task {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 80%;
  top: 0;
  left: 0;
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup_content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
}
